---
import Layout from "../layouts/Layout.astro";
import LeaderboardTable from "../components/LeaderboardTable.astro";
import headSvg from "../assets/head.svg";

// Sample data for the leaderboard
const leaderboardEntries = [
  {
    rank: 1,
    model: "CHOCOLATE (EARLY GROK-3)",
    accuracy: "88%",
    organization: "XAI",
    isNew: true,
    isSota: true,
  },
  {
    rank: 2,
    model: "GEMINI-2.0-FLASH-THINKING-STUFF",
    accuracy: "79%",
    organization: "GOOGLE",
    isNew: true,
  },
  {
    rank: 3,
    model: "GEMINI-2.0-FLASH-THINKING-STUFF",
    accuracy: "70%",
    organization: "GOOGLE",
  },
  {
    rank: 4,
    model: "GEMINI-2.0-FLASH-THINKING-STUFF",
    accuracy: "66%",
    organization: "OPENAI",
  },
  {
    rank: 5,
    model: "DEEPSEEK-AI",
    accuracy: "44%",
    organization: "DEEPSEEK",
  },
];

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="AI Agent Leaderboard | Steel.dev">
  <div>
    <div class="flex justify-between items-center mb-4">
      <div class="flex flex-col gap-8">
        <div class="flex justify-between">
          <div class="flex flex-col gap-1">
            <h1 class="text-5xl md:text-5xl font-mono tracking-tight mb-0">
              Steel.dev<span class="text-accent">®</span>
            </h1>

            <h2 class="text-5xl md:text-5xl font-mono tracking-tight text-text">
              Agent Comparison
            </h2>
          </div>

          <div>
            <img src={headSvg.src} alt="Steel.dev Logo" width="100" height="100" />
          </div>
        </div>
        <div class="text-left">
          Steel encompasses a range of agent-use and here are the success metrics we were able to
          track between various agent uses
        </div>
      </div>
    </div>
  </div>

  <!-- Leaderboard Table -->
  <div class="mb-8 mt-8">
    <LeaderboardTable entries={leaderboardEntries} />
  </div>
</Layout>
