<header>
  <div>
    <nav>
      <ul class="flex gap-6 list-none m-0 p-0">
        <li>
          <a
            href="/"
            class="text-text font-mono text-sm tracking-tight hover:text-accent transition-colors duration-300"
            >[HOME]</a
          >
        </li>
        <li>
          <a
            href="https://docs.steel.dev/overview/intro-to-steel"
            class="text-text font-mono text-sm tracking-tight hover:text-accent transition-colors duration-300"
            >[DOCS]</a
          >
        </li>
        <li>
          <a
            href="https://x.com/steeldotdev"
            target="_blank"
            rel="noopener noreferrer"
            class="text-text font-mono text-sm tracking-tight hover:text-accent transition-colors duration-300"
            >[TWITTER]</a
          >
        </li>
        <li>
          <a
            href="https://discord.gg/steel-dev"
            target="_blank"
            rel="noopener noreferrer"
            class="text-text font-mono text-sm tracking-tight hover:text-accent transition-colors duration-300"
            >[DISCORD]</a
          >
        </li>
      </ul>
    </nav>
  </div>
</header>
