---
interface LeaderboardEntry {
  rank: number;
  model: string;
  accuracy: string;
  organization: string;
  isNew?: boolean;
  isSota?: boolean;
}

interface Props {
  entries: LeaderboardEntry[];
}

const { entries } = Astro.props;
---

<div class="flex flex-col w-full">
  <div class="font-mono border border-text border-opacity-30 max-w-4xl w-full">
    <div class="bg-[var(--color-text)] p-[0.62rem] flex w-full items-center gap-[0.62rem]">
      <div class="bg-text text-black font-bold">LEADERBOARD</div>
      <div class="flex flex-col gap-1 flex-1">
        {[0, 1, 2, 3, 4].map((index) => <div class="bg-black h-0.5 w-full" />)}
      </div>
    </div>

    <div class="text-text pt-4 pb-2 px-3">
      <div class="grid grid-cols-[1fr_4fr_2fr_3fr] gap-2 w-full">
        <div>RANK</div>
        <div>MODEL</div>
        <div>ACCURACY</div>
        <div>ORGANIZATION</div>
      </div>
    </div>

    <div class="space-y-2 pb-4 px-3">
      {
        entries.map((entry) => (
          <div class="grid grid-cols-[1fr_4fr_2fr_3fr] gap-2 hover:bg-text hover:bg-opacity-5 transition-colors duration-200 w-full">
            <div class="text-text">{entry.rank}</div>
            <div class="text-text uppercase flex flex-wrap items-start">
              <div class="flex items-center">
                {entry.model}
                {entry.isNew && (
                  <span class="ml-2 text-xs flex px-[0.625rem] py-1 justify-center items-center gap-[0.625rem] rounded-[62.5rem] border border-[#03FF32]">
                    NEW
                  </span>
                )}
              </div>
            </div>
            <div class="flex items-center">
              <span class={`${parseInt(entry.accuracy) < 50 ? "text-error" : "text-success"}`}>
                {entry.accuracy}
              </span>
              {entry.isSota && (
                <span class="ml-2 text-xs text-accent flex px-[0.625rem] py-1 justify-center items-center gap-[0.625rem] rounded-[62.5rem] border border-[#03FF32]">
                  ▲ SOTA
                </span>
              )}
            </div>
            <div class="text-dim uppercase">{entry.organization}</div>
          </div>
        ))
      }
    </div>
  </div>

  <div
    class="p-3 border border-text border-opacity-30 bg-background bg-opacity-50 mt-4 max-w-4xl w-full"
  >
    <div class="flex items-start gap-4">
      <p class="text-text">
        <a href="https://steel.dev" class="hover:opacity-80 hover:underline transition-all"
          >STEEL.DEV</a
        >: THE OPEN-SOURCE BROWSER API THAT SETS THE STANDARD FOR AI AGENT PERFORMANCE, PROVIDING
        FAST, RELIABLE, AND ACCURATE WEB AUTOMATION IN THE CLOUD.
      </p>
    </div>
  </div>
</div>
