---
interface Props {
  title: string;
  subtitle: string;
  description: string;
}

const { title, subtitle, description } = Astro.props;
---

<div
  class="flex justify-between items-center p-8 text-white md:flex-row flex-col text-center md:text-left bg-background"
>
  <div class="max-w-full md:max-w-[60%] mb-8 md:mb-0">
    <h1 class="text-4xl m-0 bg-gradient-accent bg-clip-text text-transparent font-bold">{title}</h1>
    <h2 class="text-3xl my-2 text-white">{subtitle}</h2>
    <p class="text-lg leading-relaxed mt-4 text-white">{description}</p>
  </div>
  <div class="w-[150px] h-[150px]">
    <div class="w-full h-full bg-gradient-logo rounded-full opacity-80"></div>
  </div>
</div>
